{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

<div class="flex flex-col bg-sky-200 font-semibold">

    <div class="flex flex-col p-4 justify-center items-center bg-sky-500 gap-6">

        <p class="text-white text-4xl ">{{ formulaire.label }}</p>
        <div class="w-[10%] mx-auto h-[4px] bg-slate-50 rounded-xl"></div>

    </div>

    <div class="bg-sky-950 rounded-lg w-[90%] mx-auto p-4 text-2xl my-10 flex-1 flex flex-col justify-between">

        <form class="flex flex-col gap-4" method="post">

            {% for champ in champs %}
                <div>{{ champ.code | raw }}</div>
            {% endfor %}

        </form>

        {# <div class="flex flex-col gap-2 flex-1">

            <label for="rendezvous" class="text-slate-50">Rendez-vous :</label>
            <select id="rendezvous" name="rendezvous" class="rounded-lg w-[50%] p-2">
                <option value="drh">DRH</option>
                <option value="paie">Le service Paie</option>
                <option value="formation">Le service Formation</option>
                <option value="administratif">Le service Administratif</option>
                <option value="sante">Le service Santé et Conditions de travail</option>
            </select>
        </div> #}

        {# <div class="flex flex-col gap-2 flex-1">

            <label for="demandepour" class="text-slate-50">Demande pour :</label>
            <select id="demandempour" name="demandepour" class="rounded-lg w-[50%] p-2">
                <option value="paie">La Paie</option>
                <option value="formation">La Formation</option>
                <option value="administratif">Mon dossier Administratif</option>
                <option value="autres">Autres</option>
            </select>
        </div> #}

        
        {# <div class="flex flex-col gap-2 flex-1">

            <label for="file" class="text-slate-50">Fichier :</label>
            <input type="file" name="file" id="file" class="rounded-2xl w-[50%] p-2 bg-blue-600 text-slate-50 font-normal">
        </div> #}

        {# <div class="flex flex-col gap-2 flex-1">

            <label for="date" class="text-slate-50">Date :</label>
            <input type="date" name="date" id="date" class="rounded-lg w-[50%] p-2">
        </div> #}
{# 
        <div class="flex flex-col gap-2 flex-1">

            <label for="accomptenum" class="text-slate-50">Je souhaite demander un accompte de :</label>
            <input type="number" name="accomptenum" id="accomptenum" placeholder="Taper le montant en chiffres" class="rounded-lg w-[50%] p-2">
            <input type="text" name="accomptetext" id="accomptetext" placeholder="Taper le montant en lettres" class="rounded-lg p-2">
        </div> #}

        {# <div class="flex flex-col gap-2 flex-1">
            <p class="text-slate-50">Je souhaite recevoir le duplicata de mon bulletin de salaire du mois :</p>

            <div class="flex gap-4">
                <div class="flex flex-col gap-2 flex-1">

                    <label for="datedu" class="text-slate-50">Du :</label>
                    <input type="date" name="datedu" id="datedu" class="rounded-lg p-2">
                </div>

                <div class="flex flex-col gap-2 flex-1">

                    <label for="dateau" class="text-slate-50">Au :</label>
                    <input type="date" name="dateau" id="dateau" class="rounded-lg p-2">
                </div>

            </div>

        </div> #}


        <button type="submit" class="bg-sky-500 text-white p-2 rounded-lg mt-4">Envoyer</button>

    </div>

</div>

{# <div class="flex flex-col bg-sky-200 font-semibold">

    <a href="{{ path('app_formulaire_index') }}" class="bg-sky-500 text-white p-2 rounded-lg mt-4 text-center">back to list</a> #}

    {# <a href="{{ path('app_formulaire_edit', {'id': formulaire.id}) }}">edit</a> #}

    {# {{ include('formulaire/_delete_form.html.twig') }} #}
{# </div> #}
{% endblock %}
