{% extends 'base.html.twig' %}

{% block title %}Demande de bulletin de salaire{% endblock %}

{% block body %}
    {# ======================== Sidebar ========================== #}
    <sidebar class="bg-cyan-950 fixed left-0 top-0 h-screen rounded-tr-3xl">
        <div class="flex flex-col items-center w-[20vw]">

            {# ===== LOGO ====== #}
            <a href="{{ path('app_accueil') }}">

                <img src="{{ asset('img/logo_clair.png') }}" alt="logo" class="w-[15vw] mt-8">
            </a>

            <div class="w-[60%] mx-auto h-[2px] bg-slate-50 rounded-xl my-10"></div>

            <div class="flex flex-col items-center gap-3 pt-4 font-semibold text-[1.5vh] lg:text-[2vh]">

                <a href="{{ path('app_accueil_admin') }}" class="text-slate-50 text-center hover:bg-sky-800 mb-5 px-2 py-1 rounded-lg w-full">Gestion formulaire</a>
                <a href="{{ path('app_user_index') }}" class="text-slate-50 text-center hover:bg-sky-800 mb-5 px-2 py-1 rounded-lg w-full h-auto">Gestion utilisateurs</a>

                <a href="{{ path('app_logout') }}"  class="flex flex-col text-center transition-all hover:scale-105 p-6 text-slate-50">
                    <p class="font-semibold">Se déconnecter</p>
                    <i class="fa-solid fa-right-to-bracket text-slate-50 text-2xl text-center font-semibold"></i>
                </a>
            </div>
        </div>
    </sidebar>

    {# ==================== Content ======================= #}
    <content>
        <div class="ml-[20vw] bg-sky-200 min-h-screen">

            <div class="flex flex-col p-4 justify-center items-center bg-slate-50">

                <h1 class="text-3xl font-semibold text-center">Demande de bulletin de salaire</h1>

            </div>

            <div class="flex flex-col p-4 mt-4 justify-center items-center gap-4">

                <table class="w-[90%] lg:w-[60%] lg:text-xl">

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Nom</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.nom }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Prénom</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.prenom }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Service</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.service }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fonction</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.fonction }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Téléphone</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.telephone }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Email</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.email }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Motif</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.motif }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Période du</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.dateDu.format('m/Y') }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Au</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.dateAu.format('m/Y') }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Récupération</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.recuperation }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fait à</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.faitA }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fait le</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.faitLe.format('d/m/Y') }}</td>
                    </tr>

                </table>

                <div class="flex flex-col gap-3 justify-center items-center lg:flex-row w-[90%] md:w-1/2 lg:w-[30vw]">

                    <a href="{{ path('app_demande_bulletin_salaire_index') }}"  class="w-full bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>
                    
                    <form method="post" action="{{ path('app_demande_bulletin_salaire_delete', {'id': demande.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette entrée ?');" class="w-full">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande.id) }}">
                        <button class="btn bg-red-600 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold text-slate-100 w-full">Supprimer</button>
                    </form>                    
                </div>   

             
            </div>
        </div>
    </content>
{% endblock %}
