{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="flex flex-col bg-sky-200 font-semibold min-h-screen">
    
    <div class="flex flex-col p-4 h-[20vh] justify-center items-center bg-sky-500 gap-6">

        <p class="text-white text-[4rem] ">Formulaire</p>
        <div class="w-[10%] mx-auto h-[4px] bg-slate-50 rounded-xl"></div>

    </div>

    <div class="flex flex-col bg-sky-200 justify-between w-[90%] mx-auto p-4 lg:mt-[5rem] flex-1">

        <div class="flex flex-col gap-6 text-[2rem] text-slate-50 lg:flex-row lg:justify-center lg:min-h-[40vh]">

            <a href="{{ path('app_changement_adresse') }}" class="bg-sky-500 flex-1 rounded-xl flex items-center justify-between p-4 shadow-lg hover:cursor-pointer hover:scale-105 lg:flex-col lg:justify-between lg:py-8">
                <h4 class="">Formulaire de changement d'adresse</h4>
                <p class="text-[3rem] mr-2 lg:self-end"><i class="fa-solid fa-circle-chevron-right"></i></p>

            </a>

            <a href="{{ path('app_changement_compte') }}" class="bg-sky-600 flex-1 rounded-xl flex items-center justify-between p-4 shadow-lg hover:cursor-pointer hover:scale-105 lg:flex-col lg:justify-between lg:py-8">
                <h4 class="">Formulaire de changement de compte bancaire</h4>
                <p class="text-[3rem] mr-2 lg:self-end"><i class="fa-solid fa-circle-chevron-right"></i></p>

            </a>

            <a href="{{ path('app_demande_accompte') }}" class="bg-sky-700 flex-1 rounded-xl flex items-center justify-between p-4 shadow-lg hover:cursor-pointer hover:scale-105 lg:flex-col lg:justify-between lg:py-8">
                <h4 class="">Formulaire de demande d'acompte</h4>
                <p class="text-[3rem] mr-2 lg:self-end"><i class="fa-solid fa-circle-chevron-right"></i></p>

            </a>

            <a href="{{ path('app_demande_bulletin_salaire') }}" class="bg-sky-900 flex-1 rounded-xl flex items-center justify-between p-4 shadow-lg hover:cursor-pointer hover:scale-105 lg:flex-col lg:justify-between lg:py-8">
                <h4 class="">Formulaire de demande de duplicata bulletin de salaire</h4>
                <p class="text-[3rem] mr-2 lg:self-end"><i class="fa-solid fa-circle-chevron-right"></i></p>

            </a>

            <a href="{{ path('app_attestation_employeur') }}" class="bg-sky-950 flex-1 rounded-xl flex items-center justify-between p-4 shadow-lg hover:cursor-pointer hover:scale-105 lg:flex-col lg:justify-between lg:py-8">
                <h4 class="">Formulaire de demande d'attestation employeur</h4>
                <p class="text-[3rem] mr-2 lg:self-end"><i class="fa-solid fa-circle-chevron-right"></i></p>

            </a>

        </div>

        <div class="flex flex-col bg-sky-200 font-semibold text-2xl lg:w-[30%] xl:w-[20%] my-6">

            <a href="{{ path('app_accueil') }}" class="bg-sky-500 text-white p-4 rounded-lg text-center ">Retour</a>

        </div>
    
    </div>


</div>
{% endblock %}
