{% extends 'base.html.twig' %}

{% block title %}Champs index{% endblock %}

{% block body %}
    <h1 class="text-3xl text-slate-800 text-center">Formulaire</h1>

    <div class="my-4 w-[40%]">
        {% for formulaire in data %}
            <div class="bg-cyan-400 m-2 p-4 rounded-xl">

                <h1 class="text-2xl text-red-500 text-center mb-6">{{ formulaire.label }}</h1>

                <div class="flex flex-col gap-2 my-4">

                    {% for champs in formulaire.champs %}
                        <div class="flex gap-2 items-center justify-center">
                            <div class="w-[300px]">{{ champs.code | raw }}</div>
                            <div class="flex gap-2">
                                <a href="{{ path('app_champs_show', {'id': champs.id}) }}" class="bg-cyan-600 text-white rounded-lg p-2">show</a>
                                <a href="{{ path('app_champs_edit', {'id': champs.id}) }}" class="bg-cyan-600 text-white rounded-lg p-2">edit</a>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                </div>

                <a href="{{ path('app_formulaire_show', {'id': formulaire.id}) }}" class="p-2 bg-cyan-600 text-white rounded-lg text-center">Voir le formulaire</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_champs_new') }}" class="p-2 bg-cyan-600 text-white rounded-lg text-center">Rajouter un champs à un formulaire</a>
{% endblock %}
