{% extends 'base.html.twig' %}

{% block title %}Champs index{% endblock %}

{% block body %}
    {% set id = app.request.get('id') %}
    {% set idExiste = false %}

    {# ========= Message si formulaire n'a pas de champs ========= #}
    <div class="flex flex-col bg-sky-200 font-semibold text-2xl">

        {% for formulaire in data %}
            {% if formulaire.id == id %}
                {% set idExiste = true %}
            {% endif %}
        {% endfor %}

        {% if idExiste == false %}

            <div class="h-[50vh] flex justify-center items-center">
                <p class="text-3xl text-center my-6">Ce formulaire est vide !</p>
            </div>    

            <a href="{{ path('app_champs_new', {'form_id': id}) }}" class="p-2 bg-green-600 text-white rounded-lg text-center text-2xl">Rajouter un champs</a>
            <a href="{{ path('app_formulaire_index') }}" class="p-2 bg-cyan-600 text-white rounded-lg text-center">Retour</a>

        {% endif %}

    </div>

    {# ======= Affichage des champs regroupé par formulaire selon id =========== #} 
    <div class="flex flex-col font-semibold bg-sky-200 min-h-screen">
        {% for formulaire in data %}
            {% if formulaire.id == id %}

                <p class="text-3xl text-center my-6">{{ formulaire.label }}</p>    

                <div class="rounded-lg w-[90%] mx-auto p-4 my-4 text-2xl flex-1 flex flex-col gap-4 lg:w-[70%] xl:w-[50%]">


                    {% for champs in formulaire.champs %}
                        <div class="flex flex-col bg-sky-950 rounded-lg p-4 gap-2">

                            <div>{{ champs.code | raw }}</div>
                            <a href="{{ path('app_champs_edit', {'id': champs.id, 'form_id': formulaire.id}) }}" class="bg-yellow-500 text-center rounded-lg p-2">Modifier ce champs</a>
                        </div>

                    {% endfor %}
        

                    <a href="{{ path('app_champs_new', {'form_id': id}) }}" class="p-2 bg-green-600 text-white rounded-lg text-center text-2xl">Rajouter un champs</a>
                    <a href="{{ path('app_formulaire_show', {'id': formulaire.id}) }}" class="p-2 bg-cyan-600 text-white rounded-lg text-center">Voir le formulaire</a>
                </div>
                
            {% endif %}            
        {% endfor %}
    </div>

    {% if idExiste %}

        <div class="flex flex-col bg-sky-200 font-semibold text-2xl">

            <a href="{{ path('app_formulaire_index') }}" class="p-2 bg-cyan-600 text-white rounded-lg text-center">Retour</a>    
        </div>

    {% endif %}

{% endblock %}
