{% extends 'base.html.twig' %}

{% block title %}Champs{% endblock %}

{% block body %}
    <h1>Champs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ champ.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ champ.label }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ champ.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_champs_index') }}">back to list</a>

    <a href="{{ path('app_champs_edit', {'id': champ.id}) }}">edit</a>

    {{ include('champs/_delete_form.html.twig') }}
{% endblock %}
