{% extends 'base.html.twig' %}

{% block title %}Demande d'accompte{% endblock %}

{% block body %}

    <content>
        <div class="bg-sky-200 min-h-screen">

            <div class="flex flex-col p-4 justify-center items-center bg-slate-50">

                <h1 class="text-3xl font-semibold text-center">Demande d'accompte</h1>

            </div>

            <div class="flex flex-col p-4 mt-4 justify-center items-center gap-4">

                <table class="w-[90%] lg:w-[60%] lg:text-xl">

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Service</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.service }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fonction</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.fonction }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Montant accompte en chiffres</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.accompteChiffre }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Montant accompte en lettres</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.accompteLettre }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Motif</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.motif }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fait à</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.faitA }}</td>
                    </tr>

                    <tr class="border-2 border-slate-900">

                        <th scope="row" class="border-2 border-slate-900 bg-slate-900 text-slate-50 text-center font-semibold p-3">Fait le</th>
                        <td class="border-2 border-slate-900 bg-slate-50 text-center font-semibold">{{ demande.faitLe.format('d/m/Y') }}</td>
                    </tr>

                </table>

                <div class="flex flex-col gap-3 justify-center items-center lg:flex-row w-[90%] md:w-1/2 lg:w-[30vw]">

                    {% if is_granted('ROLE_ADMIN') %}
                        {% set userID = app.request.query.get('userID') %}
                        <a href="{{ path('app_admin_historique', {'id': userID}) }}"  class="w-full bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>
                    {% else %}
                        <a href="{{ path('app_accueil_historique') }}"  class="w-full bg-sky-800 text-slate-50 rounded-2xl text-center px-5 py-3 hover:brightness-125 shadow-lg font-semibold">Retour à la liste</a>
                    {% endif %}
                                       
                </div>             
            </div>
        </div>
    </content>
{% endblock %}
