
<div class="mb-8 flex flex-col">
    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
    {{ form_widget(form.nom, {'attr': {'class': 'p-2 rounded-lg'}}) }}
</div>

<div class="mb-8 flex flex-col">
    {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
    {{ form_widget(form.prenom, {'attr': {'class': 'p-2 rounded-lg'}}) }}
</div>

<div class="mb-8 flex flex-col">
    {{ form_label(form.service, 'Service', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
    {{ form_widget(form.service, {'attr': {'class': 'p-2 rounded-lg'}}) }}
</div>