{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs{% endblock %}

{% block body %}
    {# ======================== Sidebar ========================== #}
    
{{ include('component/_sidebar.html.twig') }}

    {# ==================== Content ======================= #}
    <content>
        <div class="ml-[20vw] bg-sky-200 min-h-screen">

            <div class="flex flex-col p-4 justify-center items-center bg-slate-50">

                <h1 class="text-3xl font-semibold text-center">Gestion utilisateurs</h1>

            </div>

            <div class="flex flex-col p-4 mt-4 justify-center items-center">

                {{ include('component/_searchbar.html.twig') }}

                <a href="{{ path('app_register') }}" class="text-slate-50 text-xl text-center bg-sky-800 mb-5 px-4 py-3 font-bold rounded-lg w-[90%]">Nouvel utilisateur</a>

                <div class="text-slate-950 font-bold text-xl mb-5">{{ knp_pagination_render(users) }}</div>

                <table class="w-full">
                    <tbody>
                    {% for user in users %}
                        <tr class="border-2 border-slate-900">
                            <td class="border-2 border-slate-900 w-[5%] text-center font-semibold text-2xl {{user.roles|join(', ') is same as 'ROLE_ADMIN, ROLE_ACTIF, ROLE_USER' ? 'bg-sky-800' : (user.roles|join(', ') is same as 'ROLE_ACTIF, ROLE_USER' ? 'bg-green-600' : 'bg-red-400')}}"></td>
                            <td class="border-2 border-slate-900 w-[65%] bg-slate-50 text-center font-semibold text-xl"><a href="{{ path('app_admin_historique', {'id': user.id}) }}">{{ user.username }}</a></td>

                            <td class="border-2 border-slate-900 bg-slate-950 flex flex-col items-center">

                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-slate-100 text-center px-3 hover:brightness-125 hover:text-orange-400 hover:scale-110 font-semibold">Modifier</a>
                                <a href="{{ path('app_userPassword_edit', {'id': user.id}) }}" class="text-slate-100 text-center px-3 hover:brightness-125 hover:text-orange-400 hover:scale-110 font-semibold">Changer mot de passe</a>
                                <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="btn text-red-700  text-center px-3 hover:brightness-125 hover:scale-110 font-semibold">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="border-2 border-slate-900 bg-slate-50 text-2xl text-center">
                            <td colspan="3">Aucun utilisateur ne correspond à votre recherche ...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div>
    </content>
{% endblock %}
