{% extends 'base.html.twig' %}

{% block title %}Demande d'attestation employeur{% endblock %}

{% block body %}

    {{ include('component/_flash_error.html.twig') }}

    <div class="flex flex-col bg-sky-200 font-semibold min-h-screen">

        <div class="flex flex-col p-4 justify-center items-center bg-sky-500 gap-6">

            <p class="text-white text-4xl text-center">Demande d'attestation employeur</p>
            <div class="w-[10%] mx-auto h-[4px] bg-slate-50 rounded-xl"></div>

        </div>

        <div class="bg-slate-800 p-7 mx-auto my-6 rounded-xl w-[90%] shadow-xl md:w-[70%] lg:w-[50%]">
            {{ form_errors(form) }}

            {{ form_start(form) }}
                <div class="w-11/12 mx-auto flex flex-col">

                    <div class="mb-8 flex flex-col">
                        {{ form_label(form.service, 'Service', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                        {{ form_widget(form.service, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                    </div>

                    {{ include('component/_form_email_tel.html.twig') }}

                    <div class="mb-8 flex flex-col">
                        {{ form_label(form.fonction, 'Fonction', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                        {{ form_widget(form.fonction, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                    </div>

                    <div class="mb-8 flex flex-col">
                        {{ form_label(form.motif, 'Ajouter des precisions à votre demande (facultatif)', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                        {{ form_widget(form.motif, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                    </div>

                    <div class="mb-8 flex flex-col">
                        {{ form_label(form.recuperation, 'Je souhaite recuperer mon document:', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
                        {{ form_widget(form.recuperation, {'attr': {'class': 'p-2 rounded-lg'}}) }}
                    </div>

                    <button class="bg-sky-500 text-white p-2 rounded-lg mt-10 font-semibold text-lg">{{ button_label|default('Envoyer') }}</button>
                </div>
            {{ form_end(form) }}
        </div>

    </div>

    <div class="flex flex-col bg-sky-200 font-semibold text-2xl">

        <a href="{{ path('app_accueil_form') }}" class="bg-sky-500 text-white p-2 rounded-lg my-2 text-center w-[90%] mx-auto lg:w-[70%] xl:w-[50%]">Retour</a>

    </div>


{% endblock %}
