{% extends 'base.html.twig' %}

{% block title %}Données reçues{% endblock %}

{% block body %}

  <div>

    <h1 style="border-bottom-style: solid; border-color: black; border-width: 2px; padding: 10px; text-align: center;">{{ formTitle }}</h1>

    <div style="font-size: 16px; padding: 10px;">
      
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Nom/Prénom:</span><span> {{ user }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Service:</span><span> {{ formData.service }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Fonction:</span><span> {{ formData.fonction }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Montant en chiffres:</span><span> {{ formData.accompteChiffre }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Montant en lettres:</span><span> {{ formData.accompteLettre }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Motif:</span><span> {{ formData.motif }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Fait à:</span><span> {{ formData.faitA }}</span></p>     
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">le:</span><span> {{ formData.faitLe.format('d/m/Y') }}</span></p>  

    </div>

    <div style="font-size: 10px; font-weight: bold; background-color: AliceBlue; padding: 10px; width: 70%; border-style: solid; border-color: black; border-width: 1px;">
      <p style="color:MediumBlue; font-size: 20px;">SODIPARC</p>
      <p>14 rue Gabriel de Kerveguen<br>ZEC du chaudron<br>97490 Sainte-Clotilde</p>
      <p>T.0262 925 925<br>sodiparc@sodiparc.fr</p>
    </div>
  </div>

{% endblock %}