{% extends 'base.html.twig' %}

{% block title %}Données reçues{% endblock %}

{% block body %}

  <div>

    <h1 style="border-bottom-style: solid; border-color: black; border-width: 2px; padding: 10px; text-align: center;">{{ formTitle }}</h1>

    <div style="font-size: 16px; padding: 10px;">
      
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Nom/Prénom:</span><span> {{ user }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Service:</span><span> {{ formData.service }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Fonction:</span><span> {{ formData.fonction }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Montant en chiffres:</span><span> {{ formData.accompteChiffre }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Montant en lettres:</span><span> {{ formData.accompteLettre }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Motif:</span><span> {{ formData.motif }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Fait à:</span><span> {{ formData.faitA }}</span></p>     
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">le:</span><span> {{ formData.faitLe.format('d/m/Y') }}</span></p>  

    </div>

    <img src="{{ email.image('@images/signature.png') }}" alt="Logo">

  </div>

{% endblock %}