{% extends 'base.html.twig' %}

{% block title %}Données reçues{% endblock %}

{% block body %}

  <div>

    <h1 style="border-bottom-style: solid; border-color: black; border-width: 2px; padding: 10px; text-align: center;">{{ formTitle }}</h1>

    <div style="font-size: 16px; padding: 10px;">

      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Nom/Prénom:</span><span> {{ user }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Email:</span><span> {{ formData.email }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Téléphone:</span><span> {{ formData.telephone }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Service:</span><span> {{ formData.service }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Je souhaite prendre rendez-vous avec:</span><span> {{ formData.rdvAvec }}</span></p>
      <p><span style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Pour quelle raison voulez-vous avoir un rendez-vous:</span><span> {{ formData.message }}</span></p>
        
    </div>

    <img src="{{ email.image('@images/signature.png') }}" alt="Logo">

  </div>

{% endblock %}