{% extends 'base.html.twig' %}

{% block title %}Données reçues{% endblock %}

{% block body %}

  <div>

    <h1 style="border-bottom-style: solid; border-color: black; border-width: 2px; padding: 10px; text-align: center;">{{ formTitle }}</h1>

    <div style="font-size: 16px; padding: 10px;">

      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Nom/Prénom:</span><span class="value"> {{ user }}</span></p>
      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Email:</span><span class="value"> {{ formData.email }}</span></p>
      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Téléphone:</span><span class="value"> {{ formData.telephone }}</span></p>
      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Service:</span><span class="value"> {{ formData.service }}</span></p>
      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Je souhaite prendre rendez-vous avec:</span><span class="value"> {{ formData.rdvAvec }}</span></p>
      <p class="li"><span class="key" style="color:MidnightBlue; margin-right: 5px; font-weight: bold; text-decoration: underline;">Pour quelle raison voulez-vous avoir un rendez-vous:</span><span class="value"> {{ formData.message }}</span></p>
        
    </div>

    <div style="font-size: 10px; font-weight: bold; background-color: AliceBlue; padding: 10px; width: 70%; border-style: solid; border-color: black; border-width: 1px;">
      <p style="color:MediumBlue; font-size: 20px;">SODIPARC</p>
      <p>14 rue Gabriel de Kerveguen<br>ZEC du chaudron<br>97490 Sainte-Clotilde</p>
      <p>T.0262 925 925<br>sodiparc@sodiparc.fr</p>
    </div>

  </div>

{% endblock %}